{
  "env": {
    "browser": true,
    "jest": true,
    "jest/globals": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest"
  ],
  "rules": {
    "consistent-return": 0,
    "func-names": 0,
    "global-require": 0,
    "max-len": 0,
    "no-alert": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-shadow": 0,
    "no-throw-literal": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "_",
      "varsIgnorePattern": "_"
    }],
    "object-curly-newline": 0,
    "operator-linebreak": 0,
    "prefer-destructuring": ["error", {
      "VariableDeclarator": { "array": false, "object": true },
      "AssignmentExpression": { "array": false, "object": false }
    }],
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-wrap-multilines": 0,
    "react/no-array-index-key": 0,
    "react/no-danger": 0,
    "react/prop-types": 0,
    "no-restricted-properties": [0, {
      "object": "Math",
      "property": "pow"
    }],
    "no-bitwise": 0,
    "padded-blocks": 0
  }
}
