# enforce matching node & npm versions
engine-strict=true

# Block packages published less than N days ago (supply chain attack mitigation)
# NOTE: can override this manually (ie: for important patches) via npm install {package} --min-release-age 0
min-release-age=3

# Disable lifecycle scripts by default (supply chain attack mitigation)
ignore-scripts=true
