version: 2
jobs:
  node:
    working_directory: ~/react-native-radar
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run: npm install
      - run:
          name: Test
          command: |
            mkdir -p test-results/jest
            npm run test
          environment:
            JEST_JUNIT_OUTPUT: test-results/jest/junit.xml
      - persist_to_workspace:
          root: ~/react-native-radar
          paths:
            - node_modules
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
  android:
    working_directory: ~/react-native-radar
    docker:
      - image: circleci/android:api-28-node
    steps:
      - checkout
      - run:
          name: Build example
          command: |
            cd example/android/
            yarn install
            sudo npm install -g react-native
            ./gradlew assembleDebug
  ios:
    macos:
      xcode: "11.2.1"
    working_directory: ~/react-native-radar
    steps:
      - checkout
      - run:
          name: Build example
          command: |
            cd example/ios/
            yarn install
            npm install -g react-native
            pod install
            react-native run-ios
workflows:
  version: 2
  node-android-ios:
    jobs:
      - node
      - android:
          requires:
            - node
      - ios:
          requires:
            - node
