version: 2
orbs:
  macos: circleci/macos@2
jobs:
  node:
    working_directory: ~/react-native-radar
    docker:
      - image: cimg/node:18.0
    steps:
      - checkout
      - run: npm install
      - run: npm install -g typescript
      - run:
          name: Test
          command: |
            mkdir -p test-results/jest
            npm run test
          environment:
            JEST_JUNIT_OUTPUT: test-results/jest/junit.xml
      - run:
          name: Type-check
          command: npm run build-all
      - persist_to_workspace:
          root: ~/react-native-radar
          paths:
            - android
            - ios
            - README.md
            - react-native-radar.podspec
            - dist
            - app.plugin.js
            - plugin/build
            - example
            - package.json
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
  android:
    working_directory: ~/react-native-radar/example
    docker:
      - image: cimg/android:2024.01.1-browsers
    resource_class: large
    steps:
      - attach_workspace:
          at: ~/react-native-radar
      - run:
          name: Install Dependencies
          command: npm install
      - run:
          name: Install Radar from local path
          command: npm run install-radar-rebuild
      - run:
          name: Install Ninja
          command: sudo apt-get update && sudo apt-get install -y ninja-build
      - run: chown -R $USER:$USER android
      - run: echo "\norg.gradle.jvmargs=-Xmx4096m -XX:MaxMetaspaceSize=512m" >> android/gradle.properties 
      - run: cd android && ./gradlew --version && ./gradlew assemble

  ios:
    macos:
      xcode: "15.3.0"
    working_directory: ~/react-native-radar/example
    steps:
      - attach_workspace:
          at: ~/react-native-radar
      - run:
          name: Install Dependencies
          command: npm install
      - run:
          name: Install Radar from local path
          command: npm run install-radar-rebuild-dirty
      - run: cd ios && pod update RadarSDK && pod install
      - run: xcodebuild -workspace ios/Example.xcworkspace -scheme Example -sdk iphonesimulator


workflows:
  version: 2
  node-android-ios:
    jobs:
      - node
      - android:
          requires:
            - node
      - ios:
          requires:
            - node
