name: Publish latest package to npmjs
on:
  release:
    types: [ released, prereleased ]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  release:
    if: ${{ !github.event.release.prerelease }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v2
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run check-latest-tag
      - run: npm run build-all
      - run: npm publish
  
  release-beta:
    if: ${{ github.event.release.prerelease }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v2
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run check-beta-tag
      - run: npm run build-all
      - run: npm publish --tag beta
